header{
    margin: 0;
    padding: 0;
    background-color: rgb(173, 9, 9);
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

body{
    margin: 0;
    padding: 0;
}

h1{
    margin-left: 25px;
}

button{
    height: 50px;
    width: 300px;
    font-size: 120%;
    text-align: center;
    background-color: rgb(173, 9, 9);
    cursor: pointer;
    margin-top: 12.5px;
    margin-bottom: 12.5px;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
}